/* old css */
/*
main {
  display: flex;
  flex-wrap: wrap;
}

figure img {
  width: 200px;
}
*/

/* New scc */

/*
header {
  background-color: blue;
  color: #fff;
}

figure {
  background-color: black;
}

img {
  width: 200px;
  border: 8px solid gold;
}

figcaption {
  color: #fff;
  text-align: center;
  font-size: large;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 */
 /* 10/26/2021 */

 * {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  padding: 2em 0;
}

button {
  font-size: x-large;
  background-color: aqua;
  border-radius: 10px;
}

button:hover {
  background-color: bisque;
}

main {
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin: 8px;
}

figure img {
  width: 200px;
}